body {
    background-image: url("./image.png");
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;

}

.first_paper {
    position: absolute;
    top: -45px;
    z-index: -1;
    left: 0;
}

.second_paper {
    position: absolute;
    transform: scaleX(-1);
    top: -45px;
    z-index: -1;
    right: 0px;
}

.nav_links {
    text-decoration: none;
    font-size: 30px;
    color: #513636;
}
.left-side{
    display: flex;
    flex-direction: column;
    justify-self: self-start;
    /* background-color: rgb(236, 162, 64); */
    width: 300px;
    height: 1000px;
        overflow: hidden;
        margin-top: -43px;
}
.left_corner {
    width: 250px;
    margin: 50px 0 0 100px;
    transform: rotate(-10deg);
}
.lavender{
    width: 200px;
    margin-top: 200px;
    margin-left: -50px;
    transform: rotate(45deg);
}

 .right-side{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-self: end;
    /* background-color: rgb(236, 162, 64); */
    width: 270px;
    height: 1000px;
        overflow: hidden;
        margin-top: -43px;
}
.right_corner {   
    width: 400px;
    margin: -300px 0 0 100px;
    transform: rotate(30deg);
}
.daisy{
    width: 400px;
    margin-top: 90px;
    margin-left: 89px;
}
.welcom{
    position: absolute;
    top: 100px;
    left: 340px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: rgb(246, 216, 176); */
    align-items:center;
    align-content: center;
     font-size: 70px;
}

.About_Me{
    display: flex;
align-items:center;
    align-content: center;
    justify-content: center;
    background-image: url("./About-me.png");
    width: 90%;
    height: 688px;
    border-radius: 80px;
    margin: -90px 0 0 100px;
}

.projects{
    /* background-image: url("./lav_background.png"); */
    width: 100%;
    height: 688px;
}